.vip-introduction-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-container {
  background-color: aquamarine;
  width: 100%;
}

.swiper-slide-container {
  background-color: rebeccapurple;
}

.swiper-item {
  background-color: #ffffff;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.swiper-item .header {
  width: 3rem;
  height: 3rem;
}

.swiper-item .title {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  margin-top: 0.5rem;
}

.swiper-item .desc {
  margin: 0;
  font-size: 0.9rem;
  color: #000000;
  margin-top: 1.5rem;
}

.swiper-item .card-container {
}
